@model B2BTrackingSystem.Models.TRACKING_SYSTEM_HEADS

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>追蹤項目</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="well">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">類別:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.TRACKING_TYPE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TRACKING_TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">客戶別:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.CUSTOMER_TYPE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUSTOMER_TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">需求單位:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.REQUESTER_DEPT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.REQUESTER_DEPT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">需求者:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.REQUESTER, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.REQUESTER, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">客戶Ticket#:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.CUSTICKETNO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUSTICKETNO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">接單人員:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.ORDER_PEOPLE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ORDER_PEOPLE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">需求日期:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.REQUEST_DATE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.REQUEST_DATE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">期限:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.DEADLINE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DEADLINE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">優先等級:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.PRIORITY_LEVEL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PRIORITY_LEVEL, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">指派人員:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.ASSIGN_PEOPLE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ASSIGN_PEOPLE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">             
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">案件狀態:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.CASE_STATE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CASE_STATE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">
                        @Html.LabelFor(model => model.CLOSING_DATE, "結案日期", htmlAttributes: new { @id = "CLOSING_DATE_Label", @style = "display: none" })
                    </label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.CLOSING_DATE, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                        @Html.ValidationMessageFor(model => model.CLOSING_DATE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">    
                <div class="col-md-6 form-group">
                    <label class="col-lg-3 control-label">需求內容:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.TRACKING_CONTENT, new { htmlAttributes = new { style = "width: 250%; max-width: 250%;", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TRACKING_CONTENT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-5">
                    <input type="submit" value="Create" class="btn btn-primary">
                    <span></span>
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("回追蹤項目列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('#CASE_STATE').change(function () {
                var value = $(this).val();
                if (value == 'Close') {
                    $('#CLOSING_DATE').show();
                    $('#CLOSING_DATE_Label').show();
                } else {
                    $('#CLOSING_DATE').hide();
                    $('#CLOSING_DATE_Label').hide();
                }
            });
        });

        var value = $('#CASE_STATE').val();
        if (value == 'Close') {
            $('#CLOSING_DATE').show();
            $('#CLOSING_DATE_Label').show();
        }
    </script>

}
