@model B2BTrackingSystem.Models.TRACKING_SYSTEM_HEADS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRACKING_SYSTEM_HEADS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            類 別
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRACKING_TYPE)
        </dd>

        <dt>
            客戶別
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_TYPE)
        </dd>

        <dt>
            需求者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUESTER)
        </dd>

        <dt>
            需求日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST_DATE)
        </dd>

        <dt>
            優先等級
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORITY_LEVEL)
        </dd>

        <dt>
            期限
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEADLINE)
        </dd>

        <dt>
            需求內容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRACKING_CONTENT)
        </dd>

        <dt>
            指派人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASSIGN_PEOPLE)
        </dd>

        <dt>
            案件狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CASE_STATE)
        </dd>

        <dt>
            @(Model.CLOSING_DATE != null ? "結案日期" : "")      
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CLOSING_DATE, new { htmlAttributes = new {@style = "display: none" } })
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ISDELETED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISDELETED)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TRACKING_NUM }) |
    @Html.ActionLink("Back to List", "Index")
</p>

