@model IEnumerable<B2BTrackingSystem.Models.TRACKING_SYSTEM_HEADS>

@{
    ViewBag.Title = "Index";
}

<h2>追蹤問題列表</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <div class="well">
            @using (Html.BeginForm("Index", "TRACKING_SYSTEM_HEADS", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "TRACKING_SYSTEM_HEADS_ID" }))
            {
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">類別:</label>
                        <div class="col-lg-8">
                            @Html.DropDownList("追蹤單分類", null, "", new { @class = "form-control", @id = "TRACKING_TYPE_ID" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">客戶別:</label>
                        <div class="col-lg-8">
                            @Html.DropDownList("客戶分類", null, "", new { @class = "form-control", @id = "CUSTOMER_TYPE_ID" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">優先等級:</label>
                        <div class="col-lg-8">
                            @Html.DropDownList("優先等級分類", null, "", new { @class = "form-control", @id = "PRIORITY_LEVEL_ID" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">指派人員:</label>
                        <div class="col-lg-8">
                            @Html.DropDownList("指派人員分類", null, "", new { @class = "form-control",@id= "ASSIGN_PEOPLE_ID" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">案件狀態:</label>
                        <div class="col-lg-8">
                            @Html.DropDownList("案件狀態分類", null, "", new { @class = "form-control",@id = "CASE_STATE_ID" })
                        </div>
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="row">
                    <div class="col-md-offset-5">
                        <input type="submit" class="btn btn-primary" value="Search">
                        <span></span>
                        <input type="button" class="btn btn-default" value="Cancel" id="Cancel" >
                    </div>
                </div>
            }
        </div>


    <table class="table">
        <tr>
            <th></th>
            <th>
                <a href="?sort=單號">▲</a>
                單號
                <a href="?sort=單號&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=類 別">▲</a>
                類 別
                <a href="?sort=類 別&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=客戶別">▲</a>
                客戶別
                <a href="?sort=客戶別&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=需求日期">▲</a>
                需求日期
                <a href="?sort=需求日期&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=優先等級">▲</a>
                優先等級
                <a href="?sort=優先等級&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=期限">▲</a>
                期限
                <a href="?sort=期限&desc=true">▼</a>
            </th>
            @*<th>
                    需求內容
                </th>*@
            <th>
                <a href="?sort=指派人員">▲</a>
                指派人員
                <a href="?sort=指派人員&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=案件狀態">▲</a>
                案件狀態
                <a href="?sort=案件狀態&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=結案日期">▲</a>
                結案日期
                <a href="?sort=結案日期&desc=true">▼</a>
            </th>
            <th>
                <a href="?sort=需求者">▲</a>
                需求者
                <a href="?sort=需求者&desc=true">▼</a>
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ISDELETED)
                </th>*@

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TRACKING_NUM }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TRACKING_NUM })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.TRACKING_NUM })*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRACKING_NUM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRACKING_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REQUEST_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRIORITY_LEVEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEADLINE)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TRACKING_CONTENT)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ASSIGN_PEOPLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_STATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLOSING_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REQUESTER)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ISDELETED)
                    </td>*@
            </tr>
        }

    </table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#Cancel').click(function () {
                //$('#TRACKING_SYSTEM_HEADS_ID').get(0).reset();
                $('#TRACKING_TYPE_ID').val('');
                $('#CUSTOMER_TYPE_ID').val('');
                $('#PRIORITY_LEVEL_ID').val('');
                $('#ASSIGN_PEOPLE_ID').val('');
                $('#CASE_STATE_ID').val('');
            });
        });

    </script>
}

